.footer {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: $body-bg;
  overflow: hidden;

  @media screen and (max-width: $mobile) {
    padding: 20px 0;
    height: auto;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @media screen and (max-width: $mobile) {
      display: block;
    }
  }

  &__link {
    @include mobileSmallString(#858585);
    text-decoration: none;
    opacity: 1;
    transition: opacity $transition-time;

    &:active {
      color: #858585;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__copyright {
    position: relative;
    margin-left: 20px;

    @media screen and (max-width: $mobile) {
      margin-top: 10px;
      margin-left: 0;
    }
  }
}

.list {
  position: relative;
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;
    margin-right: 10px;
    list-style-type: none;

    &:last-child {
      margin-right: 0;
    }
  }
}

.copyright {
  @include mobileSmallString(#858585);
  white-space: nowrap;
}
