.page {
  position: relative;
  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  height: 100%;
  overflow-x: hidden;
  background-color: $body-bg;
  -webkit-overflow-scrolling: auto;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  background-color: #fff;
  margin: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: auto;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;

  @media screen and (max-width: $tablet) {
    padding: 0 30px;
  }

  @media screen and (max-width: $mobile) {
    padding: 0 20px;
  }
}

.section {
  padding: 34px 0;

  &__title {
    margin: 0 0 32px;
    @include font(36px, $font-family, 42px);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  grid-auto-flow: dense;

  @media screen and (max-width: $fablet) {
    display: block;
  }

  &__item {
    position: relative;
    grid-row: span 1 / auto;

    &--s {
      grid-column: span 2 / auto;
    }

    &--m {
      grid-column: span 3 / auto;
    }

    &--l {
      grid-column: span 4 / auto;
      grid-row: span 3 / auto;
    }
  }
}
